{% load usdfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>THIS IS FILTER FUNCTION </h1>
    </center>
     
   <li>{{data|swap}}</li> 
     <br>
    <br>
   </li>{{data|lower}}</li> 
   <br>
   <br>


</li>{{data|upper}}</li> 
<br>
<li>{{data|remove:'is'}}</li>
<br>
<li>{{data|counting:'l'}}</li>
<li>{{data|vijji:'hello'}}</li>
<li>{{data|asif:'filter'}}</li>
<li>{{data|azeem:'filter'}}</li> 
<li>{{data|title}}</li>
<li>{{data}}</li>

    

</body>
</html>